@tailwind base;
@tailwind components;
@tailwind utilities;

#name {
  font-family: "Rye";
  font-size: 80px;
  padding-top: 2cap;
}

.button {
  cursor: pointer;
  background-color: brown;
  font-family: "Rye";
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.buttontwo {
  cursor: pointer;
  background-color: #6667AB;
  font-family: "Rye";
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bounce {
  animation: bounce 1.5s infinite;
}

.input-textbox {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.game-options {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.game-option-block {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px; /* Example fixed width for blocks */
  margin: auto; /* Center blocks if they are smaller than their container */
}

.or-divider {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.custom-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 60%; /* Adjust this value as needed */
  table-layout: fixed;
}

.custom-table th,
.custom-table td {
  padding: 1px; /* Adjust padding as needed */
  text-align: left; /* Adjust text alignment as needed */
}

.custom-table thead th {
  background-color: #f5f5f5; /* Replace with desired header background color */
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding-bottom: 10px;
}

.reveal-move {
  width: 60%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
  margin-top: 300px;
}

.user-cowboy-image {
  max-width: 40%;
  height: auto;
  margin-top: 100px; 
}

.cowboy-image {
  max-width: 40%;
  height: auto;
  margin-top: 100px; 
}

.heart {
  max-width: 10%;
  height: auto;
}

.bullet {
  max-width: 1%;
  height: auto;
}